server {
listen 80;
listen [::]:80;

server_name {{ item }} {{ ansible_default_ipv4.address }};
root /var/www/{{ item }};
index index.html;
try_files $uri /index.html;
}
upstream test {
{%for item in upstream%}
server {{item.server}};
{%endfor%}
}
